	{% extends 'base/base.html' %}
	{% block notifications %}
    <li class="dropdown" id="new">
      <a href="#" onmouseover="mark_read();" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if unread != 0 %}<span style="    position: absolute;
    top: 0;
    right: 8px;
    width: 2.1em;
    height: 2.1em;
    font-size: 10px;
    background: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;">{{unread}}</span>{% endif %}<span class="fa fa-bell nav-icon" aria-hidden="true">
      </span></a>
      <ul class="dropdown-menu notify-drop" style="left:auto; right:0;">
        <div class="notify-drop-title">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">Notifications</div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="tümü okundu."><i class="fa fa-dot-circle-o"></i></a></div>
            </div>
        </div>
        <!-- end notify title -->
        <!-- notify content -->
        <div class="drop-content">
            {% for notification in notifications %}
            <li {% if notification.unread is none %} style="background-color:#e8e8e8; {% endif %}">
                <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
                {% if notification.type == 'owner_borrow_return_verification' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Verify that <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. <a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'borrower_returned_request' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Verify that <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. <a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>

                {% elif notification.type == 'borrower_borrow_one_day' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned tomorrow. Please confirm if you have returned <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">

                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_borrow_one_day' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned tomorrow. Verify that <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. <a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'renter_rent_one_day' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned tomorrow. Please confirm if you have returned <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">

                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_rent_one_day' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned tomorrow. Verify that <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. <a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>

                {% elif notification.type == 'owner_borrow_today' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned today. Verify that <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. <a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>

                {% elif notification.type == 'borrower_borrow_today' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned today. Please confirm if you have returned <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">

                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_returned_successful' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. Leave a rating.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'borrower_returned_successful' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Thank you for returning the book.
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">Leave a rating</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>

                {% elif notification.type in 'borrower_borrow_return_' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Please confirm if you have returned <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">

                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_request_accepted' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        You have accepted the request of <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> for your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.
                        Click <a href="{{ url_for('verification_code', username=notification.borrower, book_id=notification.book_id) }}">here</a> for details.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'borrower_request_accepted' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Your request has been accepted by<a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> for
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.
                        Click <a href="{{ url_for('verification_input', username=notification.borrower, book_id=notification.book_id) }}">here</a> for details.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'borrower_borrow_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        You have borrowed<a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_borrow_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has borrowed your book
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'user_rent_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        You have rented<a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_rent_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has rented your book
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'user_purchased_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        You have purchased <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_purchased_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has purchased your book
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'borrow_request' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has sent you a <a href="{{ url_for('requestlist') }}">request.</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'rent_request' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has sent you a <a href="{{ url_for('requestlist') }}">request.</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'purchase_request' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has sent you a <a href="{{ url_for('requestlist') }}">request.</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'user_follow' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has followed you.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'follower_new_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has added a new
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% endif %}

            </li>
            {% endfor %}
        </div>
            <div class="notify-drop-footer text-center">
                <a href="{{ url_for('notifications_all') }}">View all</a>
            </div>
        </ul>
    </li>
{% endblock %}
	{% block content %}
		<!-- breadcrumbs -->
	{% for book in books %}
		<div class="crumbs text-center" style="padding-top:10%;">
			<div class="container">
				<div class="row">
					<ul class="btn-group btn-breadcrumb bc-list">
						<li class="btn btn1">
							<a href="index.html">
								<i class="glyphicon glyphicon-home"></i>
							</a>
						</li>
						<li class="btn btn2">
							<a href="shop.html">Books</a>
						</li>
						<li class="btn btn3">
								<a class="breadcrumbtitle" href="single_product.html">{{ book.title }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--//breadcrumbs ends here-->
		<!-- Single -->
		<div class="innerf-pages" style="padding-top:5%; min-height:78vh;">
			<div class="container">
				<div class="col-md-4 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider1">
							<ul class="slides">
								<li  data-thumb="{{book.book_cover}}">
									<div class="thumb-image">
										<img src="{{book.book_cover}}"  style="width:300px; height:375px;" data-imagezoom="true" alt=" " class="img-responsive"> </div>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
				<div class="col-md-8 single-right-left simpleCart_shelfItem">
                    <form class="form-horizontal" action="{{ url_for('editbook', book_id=book.book_id) }}" method="post">
					<h3>{{ book.title }}
					</h3>
					<p>by
						<a href="#">{{ book.owner }}</a>
					</p>
					<div class="caption">
						<div class="clearfix"> </div>
						<h6>
							<span style="float:left;">Price :{{ book.price}}</span></h6>
					</div>
					<div class="desc_single">
						<h5>Description</h5>
						<p>{{ book.description }}</p>
					</div>
					<div class="occasional">
						<h5>Specifications</h5>
						<ul class="single_specific">
							<li>
								<span>Author :</span> {{book.author_name }}</li>
							<li>
								<span>Genre :</span> {{ book.genre }}</li>
							<li>
								<span>publisher :</span> {{book.publisher_id}}</li>
							<li>
								<span>ISBN :</span> {{book.isbn}}</li>
                            <li>
								<span>availability :</span> {{book.availability}}</li>
                            <li>
								<span style="float:left;">quantity :</span><input type="text" class="form-control" placeholder="Quantity" name="quantity" value="{{book.quantity}}" style="width:50%; height:28px;" required pattern="[0-9]"></li>
                            <li>
								<span style="float:left;">Method :</span>
								<fieldset>
								{% if 'For Borrow' in book.methods %}
								<input type="checkbox" name="methods" style="display:inline-block;" id="ForBorrow" value="For Borrow" checked="checked"> <label for="ForBorrow" style="margin-right:1em;">For Borrow</label>
								{% else %}
								<input type="checkbox" name="methods" style="display:inline-block;" value="For Borrow"> <label for="ForBorrow" style="margin-right:1em;">For Borrow</label>
								{% endif %}
								<br/>
								{% if 'For Rent' in book.methods %}
								<input type="checkbox" onclick="yesnoCheck4();" style="display:inline-block;" name="methods" id="ForRent2" value="For Rent" checked="checked"> <label for="ForRent" style="margin-right:1em;">For Rent</label>
								<div id="pricing4" style="display:block;">
									<span style="float:left;">price rate: </span><input placeholder="Price Rate (Price per day)" value="{{book.price_rate}}" class="form-control" style="width:45%; height:28px;" name="price_rate" type="text" />
								</div>
								{% else %}
								<input type="checkbox" onclick="yesnoCheck();" style="display:inline-block;" name="methods" id="ForRent" value="For Rent"> <label for="ForRent" style="margin-right:1em;">For Rent</label>
								<div id="pricing" style="display:none;">
									<span style="float:left;">price rate: </span><input placeholder="Price Rate (Price per day)" value="{{book.price_rate}}" class="form-control" style="width:45%; height:28px;" name="price_rate" type="text" />
								</div>
								{% endif %}
								<br/>
								{% if 'For Sale' in book.methods %}
								<input type="checkbox" onclick="yesnoCheck3();" style="display:inline-block;" name="methods" id="ForSale2" value="For Sale" checked="checked"> <label for="ForSale" style="margin-right:1em;">For Sale</label>
								<div id="pricing3" style="display:block;">
									<span style="float:left;">price: </span><input placeholder="Price" class="form-control" value="{{book.price}}" style="width:45%; height:28px;" name="price" type="text" />
								</div>
								{% else %}
								<input type="checkbox" onclick="yesnoCheck2();" style="display:inline-block;" name="methods" id="ForSale" value="For Sale"> <label for="ForSale" style="margin-right:1em;">For Sale</label>
								<div id="pricing2" style="display:none;">
									<span style="float:left;">price: </span><input placeholder="Price" class="form-control" value="{{book.price}}" style="width:45%; height:28px;" name="price" type="text" />
								</div>
								{% endif %}
								<br/>
								</fieldset>
								<br/>
							</li>
						</ul>
						<div class="clearfix"></div>
						<div class="occasion-cart">
							<div class="chr single-item single_page_b" style="margin-top:1em;">
								<div class="col-md-12" style="margin-bottom:2em;">
								<button type="submit" class="btn btn-success pull-right btn-profile" style="width:50%; margin:0;">Save Changes</button>
								<a href="{{ url_for('viewbook', username=username, book_id=book.book_id) }}" style="width:50%;" class="btn btn-success pull-right btn-profile" id="btn-profile">Cancel</a>
								</div>
							</div>
						</div>
					</div>

                    </form>
				</div>
				<div class="clearfix" style="margin-bottom:2em;"> </div>
			</div>
		</div>
    {% endfor %}
 {% endblock %}