	{% extends 'base/base.html' %}
	{% block notifications %}
    <li class="dropdown" id="new">
      <a href="#" onmouseover="mark_read();" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if unread != 0 %}<span style="    position: absolute;
    top: 0;
    right: 8px;
    width: 2.1em;
    height: 2.1em;
    font-size: 10px;
    background: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;">{{unread}}</span>{% endif %}<span class="fa fa-bell nav-icon" aria-hidden="true">
      </span></a>
      <ul class="dropdown-menu notify-drop" style="left:auto; right:0;">
        <div class="notify-drop-title">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">Notifications</div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="tümü okundu."><i class="fa fa-dot-circle-o"></i></a></div>
            </div>
        </div>
        <!-- end notify title -->
        <!-- notify content -->
        <div class="drop-content">
            {% for notification in notifications %}
            <li {% if notification.unread is none %} style="background-color:#e8e8e8; {% endif %}">
                <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
                {% if notification.type == 'owner_borrow_return_verification' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Verify that <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. <a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'borrower_returned_request' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Verify that <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. <a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>

                {% elif notification.type == 'borrower_borrow_one_day' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned tomorrow. Please confirm if you have returned <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">

                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_borrow_one_day' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned tomorrow. Verify that <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. <a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'renter_rent_one_day' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned tomorrow. Please confirm if you have returned <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">

                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_rent_one_day' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned tomorrow. Verify that <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. <a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>

                {% elif notification.type == 'owner_borrow_today' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned today. Verify that <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. <a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>

                {% elif notification.type == 'borrower_borrow_today' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Book must be returned today. Please confirm if you have returned <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">

                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_returned_successful' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a>has returned your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>. Leave a rating.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'borrower_returned_successful' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Thank you for returning the book.
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">Leave a rating</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>

                {% elif notification.type in 'borrower_borrow_return_' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Please confirm if you have returned <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">

                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_request_accepted' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        You have accepted the request of <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> for your
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.
                        Click <a href="{{ url_for('verification_code', username=notification.borrower, book_id=notification.book_id) }}">here</a> for details.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'borrower_request_accepted' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        Your request has been accepted by<a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> for
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.
                        Click <a href="{{ url_for('verification_input', username=notification.borrower, book_id=notification.book_id) }}">here</a> for details.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'borrower_borrow_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        You have borrowed<a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_borrow_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has borrowed your book
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'user_rent_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        You have rented<a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_rent_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has rented your book
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'user_purchased_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        You have purchased <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}'s</a>
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'owner_purchased_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has purchased your book
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'borrow_request' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has sent you a <a href="{{ url_for('requestlist') }}">request.</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'rent_request' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has sent you a <a href="{{ url_for('requestlist') }}">request.</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'purchase_request' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has sent you a <a href="{{ url_for('requestlist') }}">request.</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'user_follow' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has followed you.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% elif notification.type == 'follower_new_book' %}
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                        <a href="{{ url_for('view_profile', username=notification.borrower) }}">{{notification.borrower_fname}} {{notification.borrower_lname}}</a> has added a new
                        <a href="{{ url_for('viewbook', username=notification.owner_username, book_id=notification.book_id) }}">book</a>.<a href="" class="rIcon">
                        <i class="fa fa-dot-circle-o"></i></a>
                    <hr>
                    <p class="time">{{notification.time}}</p>
                    </div>
                {% endif %}

            </li>
            {% endfor %}
        </div>
            <div class="notify-drop-footer text-center">
                <a href="{{ url_for('notifications_all') }}">View all</a>
            </div>
        </ul>
    </li>
{% endblock %}
	{% block content %}
		<!-- breadcrumbs -->
	{% for book in books %}
		<div class="crumbs text-center" style="padding-top:10%;">
			<div class="container">
				<div class="row">
					<ul class="btn-group btn-breadcrumb bc-list">
						<li class="btn btn1">
							<a href="index.html">
								<i class="glyphicon glyphicon-home"></i>
							</a>
						</li>
						<li class="btn btn2">
							<a href="shop.html">Books</a>
						</li>
						<li class="btn btn3">
								<a class="breadcrumbtitle" href="single_product.html">{{ book.title }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--//breadcrumbs ends here-->
		<!-- Single -->
        {% if borrower %}
		<div class="innerf-pages" style="padding-top:5%;">
			<div class="container">
				<div class="col-md-4 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider1">
							<ul class="slides">
								<li  data-thumb="{{book.book_cover}}">
									<div class="thumb-image">
										<img src="{{book.book_cover}}"  style="width:300px; height:375px;" data-imagezoom="true" alt=" " class="img-responsive"> </div>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
				<div class="col-md-8 single-right-left simpleCart_shelfItem">
					<h3>{{ book.title }}
					</h3>
					<p>by
						<a href="#">{{ book.owner }}</a>
					</p>
					<div class="caption">
						<div class="clearfix"> </div>
					</div>
					{% if borrower.method == 'Borrow' %}
					<div class="clearfix"></div>
					<div class="occasion-cart">
                        <h4>Please confirm if you have you returned this book to the owner.</h4>
						<div class="chr single-item single_page_b" style="margin-top:1em;">
                            <div class="col-md-6" >
								<form action="{{ url_for('verify_return_request', book_id=book.book_id, username=borrower.owner_username) }}" method="post">
								  <button type="submit" class="btn btn-success" style="    margin-top: 1em;
    width: 100%;">Confirm</button>
								</form>
                            </div>
						</div>
					</div>
					{% elif borrower.method == 'Rent' %}
					<h4>Please prepare an amount of &#x20b1;{{borrower.total}} for the payment of rent.</h4>
					<div class="clearfix"></div>
					<div class="occasion-cart">
                        <h5>Please confirm if you have returned this book to the owner.</h5>
						<div class="chr single-item single_page_b" style="margin-top:1em;">
                            <div class="col-md-6" >
								<form action="{{ url_for('verify_return_request', book_id=book.book_id, username=borrower.owner_username) }}" method="post">
								  <button type="submit" class="btn btn-success" style="    margin-top: 1em;
    width: 100%;">Confirm</button>
								</form>
                            </div>
						</div>
					</div>
					{% endif %}
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
    {% endif %}
	<div class="comments">
		<h2>Reviews</h2>
			  <div class="review">
			  <div class="caption pull-left">
					<h2 style="margin-top:10%; text-align:center;">{{book.rating}}</h2>
					<form method="POST" class="rating" action="{{url_for('rate_book', _anchor='ratingsform', username=book.username, book_id=book.book_id, contains_id=book.contains_id)}}" id="ratingsform">
						<label style="font-size:30px;">
							<input onclick="document.getElementById('ratingsform').submit();" type="radio" name="stars" value="{{book.rating}}"/>
							<span  class="icon" value="1" data-rate="1">★</span>
							<span  class="icon" value="2" data-rate="2">★</span>
							<span  class="icon" value="3" data-rate="3">★</span>
							<span  class="icon" value="4" data-rate="4">★</span>
							<span  class="icon" value="5" data-rate="5">★</span>
						</label>
					</form>
				  <div class="bottom" style="display:block;">
				  <i class="fa fa-user"></i>  {{book.numofRates}} total
				  </div>
			  </div>
			  <div class="col-sm-3" style="max-width:250px; width:250px;">
				  <h4 class="rtitle">Rating breakdown <h6>(Total Rating: {{book.totalRate}}/5.0)</h6></h4>
				<div>
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:13px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:13px; margin:8px 0;">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: {{book.num5}}%; background: #57bb8a;">
							<span class="sr-only">{{book.num5}}% Complete (danger)</span>
						  </div>
						</div>
					</div>
				</div>
				<div>
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:13px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:13px; margin:8px 0;">
						  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {{book.num4}}%; background: #9ace6a;">
							<span class="sr-only">{{book.num4}}% Complete (danger)</span>
						  </div>
						</div>
					</div>
				</div>
				<div>
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:13px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:13px; margin:8px 0;">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: {{book.num3}}%; background: #ffcf02;">
							<span class="sr-only">{{book.num3}}% Complete (danger)</span>
						  </div>
						</div>
					</div>
				</div>
				<div>
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:13px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:13px; margin:8px 0;">
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: {{book.num2}}%; background: #ff9f02;">
							<span class="sr-only">{{book.num2}}% Complete (danger)</span>
						  </div>
						</div>
					</div>
				</div>
				<div>
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:13px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:13px; margin:8px 0;">
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: {{book.num1}}%; background: #ff6f31;">
							<span class="sr-only">{{book.num1}}% Complete (danger)</span>
						  </div>
						</div>
					</div>
				</div>
			</div>
		  </div>
	</div>
	<div class="comments" id="comments" style="display:block;">
			<div class="comment-wrap">
					<div class="photo">
							<img src="data:image;base64, {{ book.viewer_profpic }}" onerror="this.src='{{url_for('static', filename='images/none.jpeg')}}'" class="avatar" class="profileimg" alt=" " />
					</div>
					<div class="comment-block">
							<form action="{{url_for('comment_book', _anchor='comments', username=book.username, book_id=book.book_id, contains_id=book.contains_id)}}" method="POST">
									<textarea style="width:94%; float:left; font-size:1em;" name="comment" cols="30" rows="3" placeholder="Add comment..."></textarea>
									<button  style="float:right; max-width:100px !important;" type="submit" class="btn btn-success">Submit</button>
							</form>
					</div>
			</div>

			{% for comment in comments %}
			<div class="comment-wrap">
					<div class="photo">
							 <img src="data:image;base64, {{ comment.profpic }}" onerror="this.src='{{url_for('static', filename='images/none.jpeg')}}'" class="avatar" class="profileimg" alt=" " />
					</div>
					<div class="comment-block">
							<p><a href="{{ url_for('view_profile', username=comment.user_username) }}" style="margin:auto; color: #777;">{{comment.user_fname}} {{comment.user_lname}}</a></p>
							<p class="comment-text">{{comment.comment}}</p>
							<div class="bottom-comment">
									<div class="comment-date">{{comment.date}}</div>
							</div>
					</div>
			</div>
			{% endfor %}
			{% if total > 5 %}
			<div class="readall">
				<h3 style="font-size:14px;"><a style="color:navy;"  onClick="$('#comments').hide(); $('#allcomments').show()"
											   href="#">READ ALL REVIEWS</a></h3>
			</div>
			{% endif %}
	</div>
	<div class="comments" id="allcomments" style="display:none; overflow-y: auto; height:550px;">
			<div class="comment-wrap">
					<div class="photo">
							<img src="data:image;base64, {{ book.viewer_profpic }}" onerror="this.src='{{url_for('static', filename='images/none.jpeg')}}'" class="avatar" class="profileimg" alt=" " />
					</div>
					<div class="comment-block">
							<form action="{{url_for('comment_book', _anchor='comments', username=book.username, book_id=book.book_id, contains_id=book.contains_id)}}" method="POST">
									<textarea style="width:94%; float:left; font-size:1em;" name="comment" cols="30" rows="3" placeholder="Add comment..."></textarea>
									<button  style="float:right; max-width: 100px !important;" type="submit" class="btn btn-success">Submit</button>
							</form>
					</div>
			</div>
			{%for comment in comments2 %}
			<div class="comment-wrap">
					<div class="photo">
							 <img src="data:image;base64, {{ comment.profpic }}" onerror="this.src='{{url_for('static', filename='images/none.jpeg')}}'" class="avatar" class="profileimg" alt=" " />
					</div>
					<div class="comment-block">
							<p><a href="{{ url_for('view_profile', username=comment.user_username) }}" style="margin:auto; color: #777;">{{comment.user_fname}} {{comment.user_lname}}</a></p>
							<p class="comment-text">{{comment.comment}}</p>
							<div class="bottom-comment">
									<div class="comment-date">{{comment.date}}</div>
							</div>
					</div>
			</div>
			{% endfor %}
			<div class="readall">
				<h3 style="font-size:14px;"><a style="color:navy;"  onClick="$('#allcomments').hide(); $('#comments').show()"
											   href="#">SEE LESS</a></h3>
			</div>

	</div>
	{% endfor %}
		<!-- /new_arrivals -->
	{% if booksdb|length == 0 %}

	{% else %}
		<div class="section singlep_btm" style="padding:2em !important;">
			<div class="container">
				<div class="new_arrivals">
					<h4 class="rad-txt">
						<span class="abtxt1">Other</span>
						<span class="abtext"> Books</span>
					</h4>
					<!-- row3 -->
					{% for bookdb in booksdb %}
					<div class="col-md-3 col-xs-12 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="{{ url_for('viewbook', book_id=bookdb.book_id, username=bookdb.other_username) }}">
                                        <img src="{{bookdb.book_cover}}" class="book-img" style="height:195px; width:130px;"alt="">
                                    </a>
                                    <div class="book-overlay">
                                        <i class="fa fa-star" style="font-size:32px; color:#333A56" aria-hidden="true"></i>
                                        <div class="book-text">
                                            <h4>{{bookdb.totalRate}}/5.0</h4>
                                            <h4>{{ bookdb.genre }}</h4>
                                            <a href="{{ url_for('viewbook', book_id=bookdb.book_id, username=bookdb.other_username) }}"><span class="button-blue-big">View Details</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>{{ bookdb.title }}</h4>
                                    <p class="author">{{ bookdb.author_name }}</p>
                                    <p><a href="{{ url_for('view_profile', username=bookdb.other_username) }}" style="margin:auto; color: #777;">{{ bookdb.other_owner}}</a></p>
                                </div>
                            </div>
                        </div>
					<!-- //row3 -->
					<div class="clearfix"></div>
				</div>
				{% endfor %}
				<!--//new_arrivals-->
				<div class="clearfix"></div>

			</div>
		</div>
	{% endif %}

		<!--// Single -->
 {% endblock %}